    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-8">
                    <div class="single-footer-widget footer_1">
                       <h4>Address</h4>
                        <div class="contact_info">
                            <p>Shop 15, <br />Highland Park Shopping Centre,<br />503 Pakuranga Rd,<br />Pakuranga </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Phone</h4>
                        <p>(09) 534-5338</p>
                        <h4>Email</h4>
                        <p>daniel-awtr808@hotmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>