        <section class="about_part experiance_part  section1">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-6">
                    <div class="about_part_text">
          <p>Kiwis love dining out and our café culture is thriving. Whether it’s a quick stop for coffee, a snack or brunch or lunch – we can’t get enough.</p>
          <p>Auckland is home to many great cafes, but one which consistently stands out for all the right reasons is Bamboo Garden Café in Highland Park. It’s a real crowd pleaser with its unique menu that is a blend of classic Kiwi café favourites as well as Singaporean and other Asian dishes.</p>
          <p>The secret to a successful café is a combination of fresh, tasty food, a warm and welcoming atmosphere and good value for your hard earned dollar – Bamboo Garden Café delivers on this promise.</p>
          <p>Bamboo Garden Cafe's popularity just keeps on growing as more customers discover the food, coffee and value of this fantastic dining destination and become regulars.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="about_part_img">
                        <img src="assets/images/Titles.png" alt="Bamboo Garden Cafe Food">
                    </div>
                </div>
            </div>
        </div>
    </section>