
        <section class="about_part experiance_part  section1">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 col-lg-6">
                    <div class="about_part_text">
          <p>Kiwis love dining out and our café culture is thriving. Whether it’s a quick stop for coffee, a snack or brunch or lunch – we can’t get enough.</p>
          <p>Auckland is home to many great cafes, but one which consistently stands out for all the right reasons is Bamboo Garden Café in Highland Park. It’s a real crowd pleaser with its unique menu that is a blend of classic Kiwi café favourites as well as Singaporean and other Asian dishes.</p>
          <p>The secret to a successful café is a combination of fresh, tasty food, a warm and welcoming atmosphere and good value for your hard earned dollar – Bamboo Garden Café delivers on this promise.</p>
          <p>Bamboo Garden Cafe's popularity just keeps on growing as more customers discover the food, coffee and value of this fantastic dining destination and become regulars.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="about_part_img">
                        <img src="assets/images/Titles.png" alt="Bamboo Garden Cafe Food">
                    </div>
                </div>
            </div>
        </div>
    </section>

       <section class="about_part section2">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-5">
                    <div class="about_part_img about_part_img2">
                        <img src="assets/images/foods.png" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="about_part_text">                        
                        <p>It’s location in the Highland Park Shopping Centre is ideal too, with easy access and plenty of free parking meaning it’s a convenient stop at any hour of the day.</p>
            <p>At Bamboo Garden Cafe, the owners have created a wonderfully warm and welcoming environment and they pride themselves on their fantastic service.</p>
            <p>The team treat customers like family and really go out of their way to make sure everyone leaves satisfied.</p>
            <p>The good strong coffee, made by Daniel, is also a big draw card and a reason why so many regulars make Bamboo Garden Café their favourite coffee stop.</p>
            <p>Then there's the food which truly does offer something for everyone!</p>
            <p>There's a fantastic all day breakfast menu, a great selection of standard cafe fare like sandwiches, panini and slices, as well as more exotic dishes.</p>
                    </div>
                </div>
            </div>
      <p class="msg-info">Vegetarians are also well catered for, <br />with an extensive array of options to choose from.</p>
        </div>
    </section>

       <section class="about_part section2">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-5">
                    <div class="about_part_img about_part_img2">
                        <img src="assets/images/foods.png" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="about_part_text">                        
                        <p>It’s location in the Highland Park Shopping Centre is ideal too, with easy access and plenty of free parking meaning it’s a convenient stop at any hour of the day.</p>
            <p>At Bamboo Garden Cafe, the owners have created a wonderfully warm and welcoming environment and they pride themselves on their fantastic service.</p>
            <p>The team treat customers like family and really go out of their way to make sure everyone leaves satisfied.</p>
            <p>The good strong coffee, made by Daniel, is also a big draw card and a reason why so many regulars make Bamboo Garden Café their favourite coffee stop.</p>
            <p>Then there's the food which truly does offer something for everyone!</p>
            <p>There's a fantastic all day breakfast menu, a great selection of standard cafe fare like sandwiches, panini and slices, as well as more exotic dishes.</p>
                    </div>
                </div>
            </div>
      <p class="msg-info">Vegetarians are also well catered for, <br />with an extensive array of options to choose from.</p>
        </div>
    </section>